.animation {
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100vw;
    height: 100vh;
    margin: 0 auto !important;
    h1 {
        margin-top: 0;
    }
    &>div {
        position: relative;
        height: 100vh;
    }
    .welcome {
        position: fixed;
        z-index: 900;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
    .video-wrapper {
        z-index: -5;
        box-sizing:border-box;
        max-width:100%;
        overflow: hidden;
        background-color: #d0e5f0;
        .video {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .block {
        position: absolute;
        z-index: 0;
        opacity: 0;
        h3 {
            font-weight: 200;
            font-size: 50px;
            margin: 0;
            line-height: 1.1;
        }
        p {
            margin: 0;
        }
        &.b1 {
            left: 50px;
            top: 50%;
            transform: translateY(-50%);
            width: 40%;
            max-width: 400px;
        }
        &.white {
            color: white;
            h3, p {
                color: white;
            }
        }
        &.c {
            img {
                width: 55px;
                height: auto;
            }
            h3 {
                font-size: 40px !important;
            }
            p {
                font-size: 16px;
            }
        }
        &.c1 {
            left: 50px;
            top: 15%;
            width: 40%;
            max-width: 300px;
        }
        &.c2 {
            left: 50px;
            bottom: 15%;
            width: 40%;
            max-width: 300px;
        }
        &.c3 {
            right: 50px;
            top: 15%;
            width: 40%;
            max-width: 300px;
        }
        &.c4 {
            right: 50px;
            bottom: 15%;
            width: 40%;
            max-width: 300px;
        }
    }
}

.scroll-down-arrow {
    position: fixed;
    z-index: 999;
    width: 60px;
    height: 60px;
    right: 40px;
    bottom: 40px;
    background-color: transparent;
    border-radius: 100px;
    &:after {
        content: "";
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 50px;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='46' height='43' viewBox='0 0 46 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 18L23 41L45 18' stroke='black' stroke-width='1.5'/%3E%3Cpath d='M23 40L23 0' stroke='black' stroke-width='1.5'/%3E%3C/svg%3E%0A");
    }
}

.preload {
    display: none;
    position: fixed;
    z-index: 1010;
    background: #181818;
    background: radial-gradient(circle, rgba(57,59,68,1) 2%, rgba(24,24,24,1) 100%);
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    margin-top: 0;
    img {
        mix-blend-mode: screen;
    }
    &.visible {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.content-wrapper {
    margin-top: 7300px;
    background-color: white;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    position: relative;
    z-index: 900;
    padding-top: 1px; //prevent margin-collapse
    &>section:first-child {
        margin-top: 120px;
    }
}

@media screen and (max-width: 375px) {
    .animation {
        .welcome {
            h1 {
                font-size: 40px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .animation {
        .block {
            &.b1 {
                left: 50%;
                top: initial;
                bottom: 50px;
                width: 100%;
                max-width: 430px;
                transform: translateX(-50%); 
                padding: 15px;
                box-sizing: border-box;
            }
            &.c {
                box-sizing: border-box;
                text-align: left;
                padding: 0 15px; 
                width: 50%;
                h3 {
                    font-size: 28px !important;
                }
                p {
                    display: none;
                }
                &.c1 {
                    left: 0;
                    top: 20%;
                    padding: 0 7px 0 30px;
                }
                &.c2 {
                    left: 50%;
                    top: 20%;
                    padding: 0 30px 0 7px;
                }
                &.c3 {
                    left: 0;
                    top: calc(20% + 135px);
                    padding: 0 7px 0 30px;
                }
                &.c4 {
                    left: 50%;
                    top: calc(20% + 135px);
                    padding: 0 15px 0 7px;
                }
            }
        }
    }
    .content-wrapper {
        border-radius: 16px;
        &>section:first-child {
            margin-top: 50px;
        }
    
    }
    .scroll-down-arrow {
        width: 40px;
        height: 40px;
        right: 20px;
        bottom: 20px;
        &:after {
            background-size: 30px;
        }
    }
}

