.product-page {
    .container {
        p.block-img {
            text-align: center;
            img {
                display: block;
                margin: 0 auto;
                max-width: 100%;
                height: auto;
            }
        }
    }
}