.testimonials {
    background-color: #8FB2C6;
    padding: 50px;
    .grid {
        display: grid;
        grid-template-columns: auto 600px;
        gap: 30px;
        .left {
            position: relative;
            .button {
                min-width: 140px;
                text-align: center;
            }
            h2 {
                font-size: 80px;
                color: white;
                margin: 0;
                span {
                    font-style: italic;
                    text-decoration: underline;
                }
            }
            .countdown {
                position: absolute;
                left: 0px;
                bottom: 0px;
                max-width: calc(50vw - 50px);
                .profile {
                    position: relative;
                    display: inline-block;
                    background-color: transparent;
                    padding: 0;
                    border: none;
                    margin: 6px;
                    width: 89px;
                    height: 89px;
                    pointer-events: none;
                    img {
                        border-radius: 100%;
                        width: 75px;
                        filter: grayscale(1);
                        transition: 0.5s filter ease-out;
                        &.active {
                            filter: grayscale(0);
                        }
                    }
                    &.current:after {
                        content: "";
                        position: absolute;
                        border-radius: 100%;
                        left: -4px;
                        top: -4px;
                        width: calc(100% + 8px);
                        height: calc(100% + 8px);
                        outline: 2px solid rgba(255,255,255,0.5);

                    }
                }
            }
        }
    }
    .right {
        .swiper-slide {
            height: auto;
        }
        .nav {
            text-align: right;
            padding: 30px 0 20px 0;
            .arrow-left {
                display: inline-block;
                width: 50px;
                height: 50px;
                background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 90.4 90.4' style='enable-background:new 0 0 90.4 90.4;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D .st1%7Bfill:%23769CB1;%7D%0A%3C/style%3E%3Ccircle class='st0' cx='45.2' cy='45.2' r='44.1'/%3E%3Cpath class='st1' d='M50.2,61.9c-0.3,0-0.5-0.1-0.7-0.3L33.4,45.5L50,28.8c0.4-0.4,1-0.4,1.4,0c0.4,0.4,0.4,1,0,1.4L36.2,45.5 l14.7,14.7c0.4,0.4,0.4,1,0,1.4C50.7,61.8,50.5,61.9,50.2,61.9z'/%3E%3C/svg%3E%0A");
            }
            .arrow-right {
                margin-left: 10px;
                display: inline-block;
                width: 50px;
                height: 50px;
                background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 90.4 90.4' style='enable-background:new 0 0 90.4 90.4;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D .st1%7Bfill:%23769CB1;%7D%0A%3C/style%3E%3Ccircle class='st0' cx='45.2' cy='45.2' r='44.1'/%3E%3Cpath class='st1' d='M40.2,61.9c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l14.8-14.8L39,30.2c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0 l16.7,16.7L40.9,61.6C40.7,61.8,40.5,61.9,40.2,61.9z'/%3E%3C/svg%3E%0A");
            }
        }
        .card {
            background-color: white;
            border-radius: 16px;
            padding: 30px;
            box-sizing: border-box;
            height: 100%;
            .card_header {
                .author {
                    font-size: 20px;
                    line-height: 26px;
                    font-weight: 500;
                    display: block;
                }
                .position {
                    font-size: 20px;
                    line-height: 26px;
                    color: #8FB2C6;
                }
            }
            .text {
                margin-top: 80px;
                p {
                    font-size: 32px;
                    line-height: 38px;
                    margin: 0;
                }
            }
        }

    }
}

@media screen and (max-width: 768px) {
    .testimonials {
        padding: 15px 0;
        .grid {
            display: block;
            .left {
                h2 {
                    font-size: 32px;
                    margin: 24px 0 32px 0;
                }
                .countdown {
                    position: relative;
                    max-width: none;
                    //white-space: nowrap;
                    //cursor: grab;
                    //overflow: auto;
                    .profile {
                        width: 64px;
                        height: 64px;
                        img {
                            width: 52px;
                            height: 52px;
                        }
                    }
                }
            }
            .right {
                margin-top: 20px;
                .nav {
                    display: none;
                }
                .card {
                    .card_header {
                        .author {
                            font-size: 16px;
                            line-height: 20px;
                        }
                        .position {
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }
                    .text {
                        p {
                            font-size: 20px;
                            line-height: 26px;
                        }
                    }
                }
            }
        }
    }
}